@import '../util';
#main {
  position: relative;
}
.media-container {
  small {
    opacity: 0;
  }
}
section {
  margin: 200px auto;
  padding: 0 var(--margin);
}
#hero {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding-top: 35dvh;
  h2 {
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    margin-bottom: 40px;
    font-size: clamp(1.5rem, 6.5vw, 8rem);
    font-family: $font-serif;
    line-height: 1;
    & > * {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    small, strong {
      display: block;
    }
    small {
      font-size: 0.175em;
    }
    span {
      font-size: 0.5em;
      text-transform: uppercase;
    }
    strong {
      font-family: $font-sans;
      font-weight: 600;
      line-height: 0.9;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
  }
  .media-container {
    max-width: 1080px;
    .media {
      aspect-ratio: 1080 / 950;
    }
  }
}
#section-0 {
  display: flex;
  .media-container {
    .media {
      height: 40.7142857vw;
    }
    &:nth-child(1) {
      width: 32.0713235%;
    }
    &:nth-child(2) {
      width: 51.8926471%;
    }
    &:nth-child(3) {
      width: 15.9558824%;
    }
    &:not(:last-child) {
      margin-right: var(--margin);
    }
  }
}
#section-1 {
  display: flex;
  .media-container {
    &:nth-child(1) {
      width: 59.2857143%;
      margin-right: var(--margin);
      .media {
        aspect-ratio: 1 / 1;
      }
    }
    &:nth-child(2) {
      width: 22.5714286%;
      .media {
        aspect-ratio: 316 / 444;
      }
    }
  }
}
#section-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .media-container:first-child {
    width: 20%;
    .media {
      aspect-ratio: 1 / 1;
    }
  }
  .media-container:nth-child(2) {
    width: 61.8033989%;
    margin-top: var(--margin);
    .media {
      aspect-ratio: 376 / 400;
    }
  }
}
#list-section {
  display: flex;
  justify-content: center;
  text-align: center;
  ul {
    font-family: $font-serif;
    list-style: none;
    &:not(:last-child) {
      margin-right: 86px;
    }
  }
  li {
    will-change: transform, filter;
    transition: transform 2.5s $in-out, filter 2s $in-out;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.2}s;
      }
    }
    &:not(.is-visible) {
      filter: blur(5px);
      transform: scale(1.4) translateY(40px);
    }
  }
}
#section-4 {
  height: 100lvh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .media-container {
    width: 100%;
    max-width: 380px;
    .media {
      aspect-ratio: 376 / 530;
    }
  }
}
#footer {
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: var(--margin);
  a {
    @include underline;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}